@import "../components/header_components/Mobile";
@import "../components/header_components/Desktop";
@import "../components/header_components/header";
@import "../components/footer_components/footer";
@import "../pages/404";
@import "../pages/index";
@import "../pages/about";
@import "../pages/services";
@import "../pages/service_options";
@import "../pages/prep_after";
@import "../pages/schedule";
@import "../pages/faq";
@import "./presets/font";
@import "./presets/color";

@font-face {
    font-family: 'Raleway Light';
    src: url('./fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('./fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lusitana Regular';
    src: url('./fonts/Lusitana-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lusitana Bold';
    src: url('./fonts/Lusitana-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bhalbino';
    src: url('./fonts/BhalbinoRegular.ttf') format('truetype');
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container, #prep_after {
    -webkit-animation: fadeEffect 0.75s;
    animation: fadeEffect 0.75s; /* Fading effect takes 1 second */
}

.container {
    height: 100%;
    width: 100%;

    .main_title {
        @include mobile-main-title;
    }
    .title {
        @include mobile-title;
    }
    .subtext {
        @include mobile-subtext;
    }
    .read-text {
        @include mobile-read-text;
    }
    .button {
        @include mobile-button;
    }
    //Mobile images
    img {
        max-width: 100%;
    }
    li {
        list-style-type: none;
        font-size: 16px;
        @include mobile-read-text;
    }
    li:before {
        content: "- ";
    }
}