#not_exist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 78vh;

    h1 {
        @include mobile-title;
    }
    p {
        @include mobile-read-text;
    }
    button {
        margin-top: 5%;
        background-color: transparent;
        border: $primary-text 1px solid;
        padding: 12px 12px;
        a {
            text-decoration: none;
            font-family: 'Raleway Regular', sans-serif;
            color: $primary-text;
        }
    }
}
