#not_exist {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        font-family: 'Raleway', sans-serif; 
    }
}