@media all and (min-width: 600px) {
    .schedule-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10% 5% 5% 5%;
        flex-direction: column;
    }
}

@media all and (max-width: 599px) {
    .schedule-container {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 25% 5% 5% 5%;
        flex-direction: column;
    }
}
