#services {
    display: flex;
    flex-direction: column;
    justify-content: start;
    @include mobile-title;

    h1 {
        margin-left: 5%;
    }
    h1 {
        margin-bottom: 85px;
    }
    a {
        font-size: 16px;
        @include mobile-button;
        width: 40%;
        padding: 12px 0px;
        margin: 40px 0 75px 0;
    }

    #service_items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}