@media all and (min-width: 1200px) {
    #mobile_services {
        display: none;
    }
    #desktop_services {
        min-height: auto;
        height: 100%;
        z-index: 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
        #service_items {
            flex-wrap: wrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8rem 7% 0 0;
            overflow: hidden;
            .sec-col {
                display: flex;
                width: 100%;
                align-items: center;
                margin-bottom: 20rem;
                .desktop_service_title {
                    width: 56%;
                    font-size: 4rem;
                    font-family: "Raleway Light", sans-serif;
                    text-align: center;
                }
                .service-info-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    img {
                        width: 35rem;
                        min-width: 30rem;
                        opacity: 0.7;
                        border: lightgrey 1px solid;
                    }
                    a {
                        margin-top: 3rem;
                        border: $paragraph-text 1px solid;
                        padding: 0.5rem 2rem;
                        font-size: 1.75rem;
                        font-family: "Raleway Light", sans-serif;
                        color: $paragraph-text;
                        text-decoration: none;
                        width: 5rem;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            transition: ease-in-out 0.25s;
                            background-color: $paragraph-text;
                            color: white;
                        }
                    }
                }
            }
        }
        #footer-container {
            margin-top: -0.5vw;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 1200px) {
    #mobile_services {
        display: none;
    }
    #desktop_services {
        min-height: auto;
        height: 100%;
        width: 100%;
        z-index: 0;
        position: relative;
        margin-top: 4%;
        padding-top: 5rem;
        #service_items {
            width: 100%;
            .desktop_service_title {
                width: 100%;
                font-size: 3.5rem;
                font-family: "Raleway Light", sans-serif;
                text-align: center;
            }
            .sec-col {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 20rem;
                .service-info-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .opacity-window {
                        background-color: #ebebeb;
                        img {
                            width: 30rem;
                            min-width: 25rem;
                            opacity: 0.8;
                            position: relative;
                            border: lightgrey 1px solid;
                        }
                    }
    
                    a {
                        margin: 3rem auto auto auto;
                        border: $paragraph-text 1px solid;
                        padding: 0.4rem 2rem;
                        font-size: 1.75rem;
                        font-family: "Raleway Light", sans-serif;
                        color: $paragraph-text;
                        text-decoration: none;
                        cursor: pointer;
                        &:hover {
                            transition: ease-in-out 0.25s;
                            background-color: $paragraph-text;
                            color: white;
                        }
                    }
                }
            }
        }
        #footer-container {
            margin-top: 4vw;
        }
    }
}

//mobile
@media only screen and (max-width: 600px) {
    #desktop_services {
        display: none;
    }
    #mobile_services {
        display: flex;
        flex-direction: column;
        justify-content: start;
        @include mobile-title;
        .service_desktop_button {
            display: none;
        }
        .title {
            margin-left: 5%;
            margin-bottom: 85px;
        }

        img {
            width: 100%;
            height: auto;
        }
        #service_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                font-size: 16px;
                @include mobile-button;
                width: 40%;
                padding: 12px 0px;
                margin: 30px 0 95px 0;
            }
        }
    }
}
